<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintain</title>
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/dbadmin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Divice -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="wrapper">
      <div class="wrapper">
        <div class="top">
          <div class="logo">
              <h2>DB Administrator</h2>
          </div>
          <div class="user">
            <span>Howdy friend, <b><%= user.username %></b></span>
            <a href="/">Home</a> |
            <a href="/dbadmin">DBAdmin</a> |
            <a href="/dbmaintain">Maintain</a> |
            <a href="/logout">Logout</a> |
          </div>
          <div class="clx"></div>
        </div>
        <div class="main">
          <form class="fs" action="" method="post">
            <input type="submit" name="con" value="Tiếp tục">
            <input type="submit" name="stop" value="Tạm dừng">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
