<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Divice -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="wrapper">
      <div class="wrapper">
        <div class="content">
          <h2>Đăng ký tài khoản</h2>
          <% if(notice != ""){ %>
            <div class="err"><%= notice %></div>
          <% } %>
          <form class="fs" method="post">
            <input type="text" name="username" placeholder="Tài khoản đăng nhập"></br>
            <input type="text" name="email" placeholder="Email đăng nhập"></br>
            <input type="text" name="password" placeholder="Mật khẩu đăng nhập"></br>
            <input type="text" name="fullname" placeholder="Họ và tên"></br>
            <input type="submit" name="submit" value="Đăng ký">
          </form>
          <a href="/login" style="display: block; margin-top:10px; float:right;">Đăng nhập</a>
          <div class="clx"></div>
        </div>
      </div>
    </div>
  </body>
</html>
